<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /report/discharge/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /report/discharge/index.html [L]
</IfModule>